.container {
  background-color: var(--base-card);
  font-family: var(--roboto);
  border-radius: 0.5em;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  gap: 0.5em;
}
.title {
  color: var(--base-subtitle);
}
.subtitle {
  color: var(--base-text);
  font-size: 0.9em;
}
