.title {
  margin-top: 80px;
}
.title h1 {
  color: var(--yellow-dark);
  font-family: var(--balloo-2);
  font-size: 32px;
  font-weight: 800;
  line-height: 130%;
}
.title p {
  margin-top: 4px;
  color: var(--base-subtitle);
  font-size: 20px;
  line-height: 130%;
  font-family: var(--roboto);
}
.inline {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.borderwrap {
  min-width: 400px;
  max-width: 500px;
  margin-top: 40px;
  width: 60%;
  border-radius: 6px 36px;
  height: fit-content;
  padding: 1px;
  background: linear-gradient(120deg, var(--yellow), var(--purple));
}
.orderContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px;
  background-color: var(--background);
  border-radius: 6px 36px;
}

.orderContainer span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.orderContainer .address span {
  background-color: var(--purple);
}
.orderContainer .timeToDelivery span {
  background-color: var(--yellow);
}
.orderContainer .paymentMethod span {
  background-color: var(--yellow-dark);
}
.address,
.timeToDelivery,
.paymentMethod {
  display: flex;
  gap: 12px;
}
.textContent {
  font-family: var(--roboto);
}

