.button {
  border: none;
  background-color: var(--yellow);
  cursor: pointer;
  font-size: var(--roboto);
  color: var(--white);
  padding: 1em 2.2em;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-weight: 700;
}
.button:hover {
  background-color: var(--yellow-dark);
}
