.button {
  padding: 0.5em;
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
  border: none;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}
.button:hover {
  background-color: var(--yellow-dark);
  color: var(--yellow-light);
}
.badge {
  position: absolute;
  right: -25%;
  top: -25%;
  width: 1.8em;
  height: 1.8em;
  background-color: var(--yellow-dark);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
}
