.input_container {
  position: relative;
  display: inline;
}
.input {
  border: none;
  color: var(--base-text);
  background-color: var(--base-input);
  padding: 1em;
  border-radius: 0.5em;
  border: 2px solid transparent;
}
.span {
  font-family: var(--roboto);
  font-style: italic;
  font-size: 0.8em;
  font-weight: 400;
  color: var(--base-label);
  position: absolute;
  top: 50%;
  right: 0.8em;
  transform: translateY(-50%);
}
.input:focus {
  outline: none;
  border: 2px solid var(--yellow-dark);
}
