.addressContainer {
  background-color: var(--base-card);
  border-radius: 6px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 480px;
  max-width: 640px;
  font-family: var(--roboto);
}
.orderCheck h2 {
  font-family: var(--balloo-2);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: var(--base-subtitle);
  margin-bottom: 15px;
}
.addressContainer .header {
  display: flex;
  align-items: top;
}
.addressContainer .header svg {
  margin-right: 8px;
}
.addressContainer .title {
  display: flex;
  flex-direction: column;
}
.addressContainer .title h3 {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 2px;
  font-weight: 400;
  color: var(--base-subtitle);
}
.addressContainer .title span {
  font-size: 14px;
  line-height: 130%;
  color: var(--base-text);
}
.addressContainer form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.addressContainer form div:first-child {
  display: grid;
  grid-template-columns: 200px;
}
.addressContainer form div:nth-child(2) input {
  width: 100%;
}
.addressContainer form div:nth-child(3) {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 14px;
}
.addressContainer form div:nth-child(3) input:first-child{
  width: 100%;
}
.addressContainer form div:nth-child(4) {
  display: grid;
  grid-template-columns: 200px 1fr 60px;
  gap: 14px;
}
.addressContainer form div:nth-child(4) input:first-child{
  width: 100%;
}
.addressContainer form div:nth-child(4) div:last-child input{
  width: 60px;
}
